* {
  margin: 0%;
  padding: 0%;
}
body {
  background-image: url(math.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.calc-app {
  margin: 0px auto;
  margin-top: 70px;
  width: 300px;
  text-align: center;
}
h1 {
  margin-top: 40px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 55px;
  color: rgba(255, 255, 255, 0.945);
}
input {
  border: 4px solid rgb(75, 74, 74);
  height: 40px;
  width: 280px;
  margin-bottom: 2px;
  padding: 0px 5px;
  text-align: center;
  font-size: 25px;
  cursor: none;
  font-weight: bolder;
  caret-color: transparent;
}
.keypad {
  display: grid;
  border: 4px solid rgb(75, 74, 74);
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(65px, auto);
}
button {
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
  /* margin: 1px 1px; */
  border-radius: 5px;
}
button:hover {
  background-color: rgb(75, 74, 74);
  color: white;
  font-weight: bold;
}
#clear {
  grid-column: 1/3;
  grid-row: 1;
}
#result {
  grid-column: 3/5;
  grid-row: 5;
}
